In [3]:
import pandas as pd

# Define column names
column_names = ["age", "workclass", "fnlwgt", "education", "education-num", 
                "marital-status", "occupation", "relationship", "race", "sex", 
                "capital-gain", "capital-loss", "hours-per-week", 
                "native-country", "salary"]

# Load dataset
df = pd.read_csv("adult.data", names=column_names, sep=",", skipinitialspace=True)

# Display first 5 rows
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
#1)How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
race_count = df["race"].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [9]:
#2)What is the average age of men?
average_age_men = df[df["sex"] == "Male"]["age"].mean()
print(round(average_age_men, 1))

39.4

In [10]:
#3)What is the percentage of people who have a Bachelor's degree?
bachelors_count = df[df["education"] == "Bachelors"].shape[0]
total_count = df.shape[0]
bachelors_percentage = (bachelors_count / total_count) * 100
print(round(bachelors_percentage, 1))

16.4

In [13]:
#4)What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_earning_more_than_50K = (advanced_education["salary"] == ">50K").mean() * 100
print(round(advanced_earning_more_than_50K, 1))

46.5

In [15]:
#5)What percentage of people without advanced education make more than 50K?
non_advanced_earning_more_than_50K = (non_advanced_education["salary"] == ">50K").mean() * 100
print(round(non_advanced_earning_more_than_50K, 1))

17.4

In [17]:
#6)What is the minimum number of hours a person works per week?
min_work_hours = df["hours-per-week"].min()
print(min_work_hours)

1

In [19]:
#7)What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min_workers_earning_more_than_50K = (min_workers["salary"] == ">50K").mean() * 100
print(round(min_workers_earning_more_than_50K, 1))

10.0

In [20]:
#8)What country has the highest percentage of people that earn >50K and what is that percentage?
# Calculate the percentage for each country
high_earners_by_country = df[df["salary"] == ">50K"]["native-country"].value_counts()
total_people_by_country = df["native-country"].value_counts()

# Avoid division by zero
country_percentage = (high_earners_by_country / total_people_by_country) * 100
country_percentage = country_percentage.dropna()

# Get the country with the highest percentage
highest_country = country_percentage.idxmax()
highest_percentage = round(country_percentage.max(), 1)

print(highest_country, highest_percentage)

Iran 41.9

In [22]:
#9)Identify the most popular occupation for those who earn >50K in India.
most_common_occupation = india_high_earners["occupation"].mode()[0]
print(most_common_occupation)

Prof-specialty